body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.page-title {
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.upload-container,
.download-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: max-content;
    min-width: 300px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #333;
}

.file-input {
    display: none;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #F7FFF7;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-label:hover {
    background-color: #e6ede6;
}

.upload-submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #FFE66D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-submit-btn:hover {
    background-color: #ebd566;
}

.upload-submit-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.file-name {
    margin-top: 10px;
    color: #555;
}

.response-message {
    margin-top: 20px;
    font-size: 16px;
    color: #318141;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#download-form {
    display: flex;
    flex-direction: column;
}

#download-code {
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #333;
    outline: none;
}

#download-submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2F3061;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download-submit-btn:hover {
    background-color: #292a56;
}

#download-submit-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.backlight {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

.output {
    position: relative;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: max-content;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    color: #333;
}

.filecode-message {
    color: #333;
    font-weight: 500;
}

footer {
    font-size: smaller;
    text-align: center;
    margin: 20px;
    opacity: 0.7;
    font-style: italic;
}